
  /* Estilo para los contenedores de las páginas */
  .page-container {
    max-width: 800px; /* Ancho máximo de las páginas */
    margin: 20px auto; /* Centrar las páginas */
    padding: 20px;
    background-color: rgba(103, 0, 213, 0.3); /* Color de fondo de los divs */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .modulo {
    display: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .oculto {
    opacity: 0;
  }
  
  .mostrar {
    display: block;
    opacity: 1;
  }